html {
  font-size: 18px;
  font-family: Roboto;
  background-color: black;
  color: white;
}

.container {
  max-width: 960px;
  display: flex;
  justify-content: center;
}

/*header*/
.company .container {
  background-color: black;
  display: flex;
  align-items: center;
  color: white;
}

.company img {
  height: 1.5rem;
  padding-left: 0.5rem;
  padding-right: 1rem;
}

.company span {
  padding: 0.66rem 0;
  font-size: 1rem;
}

/*banner*/
.banner {
  height: 25rem;
  background-image: url('../../resources/images/moto.jpeg');
  background-size: cover;
}

.headline {
  margin-top: 9rem;
  background-color: black;
  padding: 2rem 3rem;
  width: 20rem;
}

.headline h4 {
  font-size: 1rem;
  font-weight: bold;
  padding-bottom: 0.25rem;
}

.headline h1 {
  font-size: 2rem;
  font-weight: bold;
}

nav {
  background-color: firebrick;
}

ul {
  list-style: none;
  padding: 0.75rem 0;
  display: list-item;
}

li {
  padding-right: 3rem;
  font-weight: bold;
}

/*products*/
.products {
  display: flex;
  justify-content: space-between;
}

/*media*/
@media only screen and (max-width: 1024px) {
  .mobile-nav li {
    display: none;
  }
}
